version: 2
updates:
  - package-ecosystem: 'docker'
    directory: '/Docker/api'
    schedule:
      interval: 'daily'
      time: '03:00'
      timezone: 'Asia/Tokyo'
    commit-message:
      prefix: 'build'
    target-branch: 'main'
  - package-ecosystem: 'docker'
    directory: '/Docker/db'
    schedule:
      interval: 'daily'
      time: '03:00'
      timezone: 'Asia/Tokyo'
    commit-message:
      prefix: 'build'
    target-branch: 'main'
  - package-ecosystem: 'docker'
    directory: '/Docker/web'
    schedule:
      interval: 'daily'
      time: '03:00'
      timezone: 'Asia/Tokyo'
    commit-message:
      prefix: 'build'
    target-branch: 'main'
  - package-ecosystem: 'bundler'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '03:00'
      timezone: 'Asia/Tokyo'
    commit-message:
      prefix: 'build'
    target-branch: 'main'
